/* Note to students: Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!*/
  
    
    html {
      height: 100%;
    }
body {

    font-family: sans-serif
}
    header {
        width: 100%;
        border-style: ridge;
        border-color: black;
        background-image: href= "map1.jpg";
        padding: 5px;
        font-size:24px;
        display: block;
    }
    h1 {
        font-size: 62px;
        text-align: center;
        border: 12px;
        
    }
    aside {
            width: 100%;
            display: inline-block;
            padding: 15px;
            min-height: 100%;
            border: solid; color: black
        }
        aside ul {
            list-style-type: none;
            border 15px; 
        }
  
  
    nav {
        width: 960px;
        background-color: orange;
    }
    nav ul {
        padding: ;
        border:3px ;
        border-color: black;
        list-style-type: none;
    }
    nav li {
        float: left;
    }
    nav li a {
        display: block;
        height: 25px;
        padding: 12px 18px 8px 18px;
        vertical-align: middle;
    }
   
    section {
        width: 100%;
        display: inline-block;
        float: left;
    }
   
    }
    footer {
        position: sticky;
        width: 790px;
        font-size: 9px;
        background-color: black ;
        border: solid; 
        color: whitesmoke;
        display: block;
    }
    /*  Individual stylings 
    */
    .erie {
        float: right;
        margin: 10px;
    }